[submodule "sdk/esp32-esp-idf"]
	path = sdk/esp32-esp-idf
	url = https://github.com/espressif/esp-idf.git
  ignore = dirty
[submodule "components/u8g2/u8g2"]
	path = components/u8g2/u8g2
	url = https://github.com/olikraus/U8g2_Arduino.git
[submodule "components/ucg/ucg"]
	path = components/ucg/ucg
	url = https://github.com/olikraus/Ucglib_Arduino.git
[submodule "components/qrcodegen/qrcodegen"]
	path = components/qrcodegen/qrcodegen
	url = https://github.com/nayuki/QR-Code-generator.git
[submodule "components/ws2812fx/Adafruit_NeoPixel"]
	path = components/ws2812fx/Adafruit_NeoPixel
	url = https://github.com/adafruit/Adafruit_NeoPixel.git
[submodule "components/ws2812fx/WS2812FX"]
	path = components/ws2812fx/WS2812FX
	url = https://github.com/kitesurfer1404/WS2812FX.git